@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: "Poppins", sans-serif;
  background-image: url("../img/background2.svg");

  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar .badge {
  margin-left: 1px;
  padding: 2.3px 4.28px;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: #3f51b5;
  color: #fff;
  transition: all 0.3s;
}
#sidebar .svg-icon {
  width: 100%;
  margin-right: 5px;
  max-width: 35px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #3f51b5;
}

#sidebar #logotipo {
  width: 100%;
  max-width: 200px;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar hr {
  border: 0;
  height: 1px;
  margin: auto;
  max-width: 230px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0)
  );
}
#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: white;
}
#sidebar ul li a:hover {
  background: #3949ab;
  text-decoration: none;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #3949ab;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #3949ab;
}

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
}

#sidebar.active {
  margin-left: -250px;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}
